@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-file-upload-button {
 @apply bg-purple-600 absolute top-0 right-0 rounded-tr-full rounded-br-full py-2 border border-none outline-none cursor-pointer text-white;
}

.no_scroll{
 @apply overflow-hidden;
}
/* 
.rigth_4px{
  background-color: lime;
}  */




/* keyframes : {
    move : {
      "50%" : { transform : "translateY(-1rem)" } 
    },
  
    rotate : { 
      "0%"   : { transform : "rotate(0deg)" },
      "100%" : { transform : "rotate(360deg)" },
    },
  
    scaleUp : {
      "0%"    : { transform : "scale(0.8)" },
      "50%"   : { transform : "scale(1.2)" },
      "100%"  : { transform : "scale(0.8)" },
    }
  },
  
  animation : {
    movingY   : "move 3s linear infinite",
    rotating  : "rotate 15s linear infinite",
    scalingUp   : "scaleUp 3s linear infinite",
  }, */